@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Cuprum:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Bona Nova', serif;
  margin: 0;
  padding: 0;
}

:root {
  --background: #fae594;
}

body,
html {
  background-color: var(--background);
}

div.recipes-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

/* ========== RecipeCard.jsx ========== */
div.recipe-card {
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px black;
  color: inherit;
  cursor: pointer;
  margin: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  transition: all 0.4s ease;
  width: 250px;
}

div.recipe-card:hover {
  transform: scale(1.1);
}

div.recipe-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50%;
  width: 100%;
}

div.recipe-card div.card-body {
  padding: 10px;
  text-align: center;
}

div.recipe-card div.card-body span.category {
  color: gray;
  font-weight: bold;
}

.modal-window-container {
  background-color: var(--background);
  border-radius: 0.6em;
  font-size: 14px;
  left: 50%;
  max-width: 32em;
  padding: 2.2em 2.5em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
}

.current-recipe img {
  display: block;
  margin: 1.8em auto 0 auto;
  width: 100%;
}

.current-recipe .details {
  background-color: #e9c94a;
  margin: -4.3em 0 0 0;
  padding: 0.6em 0;
  position: relative;
  text-align: center;
}

.current-recipe .details h2 {
  font-size: 1.5em;
  font-weight: 600;
}

.current-recipe .details h4 {
  font-size: 1.3em;
  font-weight: 400;
}

.current-recipe .show-recipe {
  background-color: #f4c531;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  left: 70%;
  padding: 0.9em 0.6em;
  position: relative;
  top: 1.5em;
}

.current-recipe .show-recipe:hover {
  background-color: #c27e00;
}

.current-recipe .show-recipe:hover:active {
  background-color: #da8d00;
}

.ingredient-con ul {
  display: grid;
  color: #303040;
  font-size: 1.1em;
  gap: 1em 4em;
  grid-template-columns: auto auto;
  padding: 1.2em 0 0 1.2em;
  position: relative;
  text-transform: capitalize;
}

.modal__content {
  width: 0;
}

/* ========== AllRecipies.jsx ========== */
div.filters {
  text-align: center;
}

div.filters div {
  font-weight: bolder;
  margin: 10px 0 5px 0;
}

div.filters div.title-kind-meal {
  color: #06421a;
}

div.filters div.title-diet {
  color: #1f084d;
}

div.filters div.title-cuisine {
  color: #551818;
}

input.checkbox-kindmeal,
input.checkbox-cuisine,
input.checkbox-diet {
  display: none;
}

label.label-kindmeal,
input.checkbox-kindmeal:checked+label.label-kindmeal:after {
  background-color: #565c0a;
}

label.label-kindmeal:before {
  border-right: 8px solid #565c0a;
}

label.label-cuisine,
input.checkbox-cuisine:checked+label.label-cuisine:after {
  background-color: #CC0000;
}

label.label-cuisine:before {
  border-right: 8px solid #CC0000;
}

label.label-diet,
input.checkbox-diet:checked+label.label-diet:after {
  background-color: #003366;
}

label.label-diet:before {
  border-right: 8px solid #003366;
}

label.label-kindmeal,
label.label-cuisine,
label.label-diet {
  border-radius: 0 2px 2px 0;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  line-height: 13px;
  margin: 0 0 2px 10px;
  padding: 4px 7px 3px;
  position: relative;
  text-decoration: none;
  transition: 0.2s linear;
}

label.label-kindmeal:before,
label.label-cuisine:before,
label.label-diet:before {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  content: "";
  height: 0;
  left: -8px;
  position: absolute;
  top: 0;
  transition: 0.2s linear;
  width: 0;
}

label.label-kindmeal:after,
label.label-cuisine:after,
label.label-diet:after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 4px;
  left: -2px;
  position: absolute;
  top: 8px;
  width: 4px;
}

label.label-kindmeal:hover,
input.checkbox-kindmeal:checked+label.label-kindmeal,
label.label-cuisine:hover,
input.checkbox-cuisine:checked+label.label-cuisine,
label.label-diet:hover,
input.checkbox-diet:checked+label.label-diet {
  color: #000;
}

label.label-kindmeal:hover,
input.checkbox-kindmeal:checked+label.label-kindmeal {
  background: #d7f767;
}

label.label-cuisine:hover,
input.checkbox-cuisine:checked+label.label-cuisine {
  background: #f18c5d;
}

label.label-diet:hover,
input.checkbox-diet:checked+label.label-diet {
  background: #0099CC;
}

label.label-kindmeal:hover:before,
input.checkbox-kindmeal:checked+label.label-kindmeal:before {
  border-right-color: #d7f767;
}

label.label-cuisine:hover:before,
input.checkbox-cuisine:checked+label.label-cuisine:before {
  border-right-color: #f18c5d;
}

label.label-diet:hover:before,
input.checkbox-diet:checked+label.label-diet:before {
  border-right-color: #0099CC;
}

.filters label {
  cursor: pointer;
}

div.btn-search-recipies-by-name {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

div.btn-search-recipies-by-name button {
  background-color: #c8d83b;
  border-color: #c8d83b;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  padding: 10px;
}

div.btn-search-recipies-by-name button:hover {
  background-color: #93a01d;
  border-color: #758104;
  color: white;
  text-shadow: 1px 1px 2px black;
}

/* ========== RecipeInfo.jsx ========== */
.recipe-img {
  display: flex;
  margin: auto;
  width: 100%;
}

.recipe-name,
.recipe-cuisine,
.recipe-kindOfMeal {
  text-align: center;
}

.recipe-ingredients ul {
  display: grid;
  font-size: 1.1em;
  gap: 0.8em 1.1em;
  grid-template-columns: auto auto;
  margin-bottom: 1em;
  padding: 1.2em 0 0 1.2em;
  position: relative;
  text-transform: capitalize;
}

.recipe-description {
  text-align: justify;
}

/* ========== RecipiesByNameOrIngredient.jsx ========== */
div.indexContainer {
  display: flex;
  margin: 0;
}

h2.search-recipies-title {
  color: #584700;
  font-size: xx-large;
  margin: 1rem;
  text-align: center;
  text-shadow: 0px 0px 5px white;
}

/* ========== RecipeIndex.jsx ========== */
label.label-alpha {
  align-items: center;
  background-color: #584700;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0 5px 0 5px;
  width: 50px;
}

input.checkbox-alpha {
  display: none;
}

input.checkbox-alpha:checked + label.label-alpha {
  background-color: #a38300;
}