* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* ========== App.js ========== */
div.container {
  background-color: #f7f7f7;
  border-radius: 20px;
  margin: 30px auto;
  max-width: 1030px;
  min-height: 100vh;
  padding: 30px;
}
h2.text-align-center {
  text-align: center;
  letter-spacing: .15em;
}
div.recipes-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

/* ========== SearchBar.jsx ========== */
form.search-bar-form {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 100%;
}
form.search-bar-form input {
  border: 1px solid rgb(128, 120, 120);
  font-size: 16px;
  padding: 10px;
}
form.search-bar-form input:focus {
  outline: none;
}
form.search-bar-form input[type=text] {
  border-bottom-left-radius: 10px;
  border-right: none;
  border-top-left-radius: 10px;
  width: 400px;
}
form.search-bar-form input[type=submit] {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}
form.search-bar-form input[type=submit]:disabled {
  cursor: default;
}

/* ========== RecipeCard.jsx ========== */
div.recipe-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px black;
  color: inherit;
  cursor: pointer;
  margin: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  transition: all 0.4s ease;
  width: 200px;
}
div.recipe-card:hover {
  transform: scale(1.1);
}
div.recipe-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
div.recipe-card div.card-body {
  padding: 10px;
  text-align: center;
}
div.recipe-card div.card-body span.category {
  color: #a1a1a1;
}

.modal-window img {
  width: 400px;
}
.modal-window h3 {
  text-align: center;
}
.modal-window p {
  text-align: justify;
}