/* ---------- profile-info-controller ---------- */
.profile-controller {
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 6px;
    text-align: center;
}

.profile-info-controller {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #dda85870;
    box-shadow: 0px 0px 10px black;
}

.profile-main-info {
    display: flex;
    flex-direction: column;
}

table.profile-main-table {
    border-spacing: 0 30px;
}

table.profile-main-table tr td:nth-child(1) {
    font-weight: bold;
}

table.profile-main-table tr td:nth-child(2) span {
    margin: 0;
    font-size: 18px;
}

.name-input,
.email-input,
.date-input,
.region-select {
    padding: 5px;
    border-radius: 10px;
    background-color: #f5cd9270;
}

table.profile-main-table button {
    background-color: #fffbf6;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    padding: 5px;
}

table.profile-main-table button:hover {
    background-color: #ebdbc6;
}

/* ---------- profile-pass-controller ---------- */

.profile-pass-controller {
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    background-color: #dda85870;
    margin-bottom: 20px;
}

.profile-pass-info {
    display: flex;
    justify-content: space-between;
}

.profile-pass-box {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.profile-pass-box label {
    text-align: center;
    font-size: 17px;
    width: 95%;
    font-weight: 550;
}

.profile-pass-box input {
    padding: 13px;
    height: 20px;
    border-radius: 7px;
    border: 1px solid grey;
    width: 95%;
}

.profile-pass-box small {
    text-align: center;
    color: red;
    font-weight: bold;
}

.change-pass-btn {
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fffbf6;
    border: 1px solid darkgray;
}

.change-pass-btn:hover {
    background-color: #ebdbc6;
}

.profile-img {
    border-radius: 15px;
    background-color: rgba(1, 1, 1, 0.589);
    padding: 60px;
    margin: 5px;
}

.profile-img img {
    height: 20px;
}

/* ---------- profile-recipes-controller ---------- */

.profile-recipes-controller {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    background-color: #dda85870;
    margin-bottom: 20px;
}

.profile-recipes-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.profile-recipe-background {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.profile-recipe-box {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #d1a3256e, #e4e2dc6e);
}

.profile-recipe-box label {
    padding: 6px 5px 5px 15px;
    font-size: 17px;
}

.recipe-box-btn {
    display: flex;
    gap: 10px;
}

.recipe-box-btn button {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
}

.recipe-box-view-btn {
    background-color: #a6e257;
}

.recipe-box-edit-btn {
    background-color: #dde012;
}

.recipe-box-delete-btn {
    background-color: #ff6600;
}

.add-recipe-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid darkgray;
    font-size: 18px;
    font-weight: 500;
    background-color: #fffbf6;
}

.add-recipe-btn:hover {
    background-color: #ebdbc6;
}

.add-recipe-btn,
.profile-recipe-box button {
    cursor: pointer;
}