@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Cuprum:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Bona Nova', serif;
  margin: 0;
  padding: 0;
}

.profile,
.add-recipe,
.logout {
    align-items: center;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    height: 90vh;
}